.showLink{
  transition:transform 0.3s;
  animation:showLink 1s ;
  position:relative;
}
.showLink:hover{
  transform: translateY(3px);
}

.smootLink-dropdow{
  width: 110%;
  right:  15px;
  margin-left: 10px;

  transition:transform 0.3s;
  animation:showShooth2 1s ;
  position:relative;
}
.smootLink-dropdow:hover{
  transform: translateX(5px);
}

/* show animation */
.showNavBar{
  animation:showNavBar 1.3s ;
}

/*Navbar dropdown */
.dropdown-menu{
  position: absolute;
  overflow: hidden;
  animation: showDropdown 0.5s;
}

.showContainer{
  animation: showContainer 1s;
}

@keyframes showNavBar{
  from{
    opacity:80%;
    top:10px;
  }
  to{
   opacity:100%;
   top:0px;
  }

}
@keyframes showLink{
  from{
    opacity:80%;
    top:10px;
  }
  to{
   opacity:100%;
   top:0px;
  }
}

@keyframes smootLink-dropdow{
  from{
    height:110%
  }

  to{
    height: 100%;
  }

}

@keyframes showContainer{
  from{
    opacity:80%;
    top:10px;
    transform: scale(0.7);
  }
  to{
    opacity:100%;
    top:0px;
    transform: scale(1);
  }
}
@keyframes showDropdown{
  from{
    opacity: 0;
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
    opacity: 100%;
  }
}
